h1 {

    font-size: 40px;
    color: white;
    margin-top:10;
    padding: 20px 20px 20px 40px;


}


h2 {

    padding:20px 20px 20px 500px;
    color: white;
}

h3 {
    color: white;
}

h20 {
    color:white;

}

body {
     background: linear-gradient(to right, #000066 , white);
     color: white;
}

table{
    color: white;
}

h4{
    color:white;
}

