<html>
{% load staticfiles %}
<head>
    <link rel="stylesheet" href="{% static 'css/Homapage.css' %}">
    <title> Character </title>
</head>
<body>

<h2>Couple 1</h2>


<form action="/Adults/child" method="get">
    {%csrf_token %}
    {{ form }}
    <input type="submit" class="styled-button-2" value="Create Child" />
</form>
<h4>Stat Growths</h4>
    <table border="1">
    <tr>
    <td>HP</td>
    <td>STR</td>
        <td>MAG</td>
        <td>SKL</td>
        <td>SPD</td>
        <td>LCK</td>
        <td>DEF</td>
        <td>RES</td>
    </tr>
    <tr>
    <td>40%</td>
    <td>30%</td>
        <td>15%</td>
        <td>40%</td>
        <td>50%</td>
        <td>20%</td>
        <td>30%</td>
        <td>25%</td>
    </tr>
    </table>
</body>

</html>

