<html>
{% load staticfiles %}
<head>
    <link rel="stylesheet" href="{% static 'css/Homapage.css' %}">
    <title> Character </title>
</head>
<body>

<h2>Couple 1</h2>
<h3>Father, Mother</h3>


<select>
{% for a in Males %}

    <option value='${a.name}'>{{a.name}}</option>

{% endfor %}
</select>

<select>
{% for a in Females %}

    <option value='${a.name}'>{{a.name}}</option>

{% endfor %}
</select>


<p>
    <form action="/Adults/child">
        <input type="submit" class="styled-button-2" value="Create Child" />
    </form>
</p>




<div>

</div>


</body>

</html>

