<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}

<head>
    <link rel="stylesheet" href="{% static 'css/Homapage.css' %}">
    <meta charset="UTF-8">
    <title>Children</title>
</head>
<body>

<h1>{{father.name}}'s stats</h1>
<p>Growth Rates</p>
<table border="1">
    <tr>
    <td>HP</td>
    <td>STR</td>
    <td>MAG</td>
    <td>SKL</td>
    <td>SPD</td>
    <td>LCK</td>
    <td>DEF</td>
    <td>RES</td>
</tr>
<tr>
    <td>{{father.hpG}}%</td>
    <td>{{father.strG}}%</td>
    <td>{{father.magG}}%</td>
    <td>{{father.skillG}}%</td>
    <td>{{father.spdG}}%</td>
    <td>{{father.lckG}}%</td>
    <td>{{father.defG}}%</td>
    <td>{{father.resG}}%</td>
</tr>
</table>
<p>Max Stat Mods</p>
<table border="1">
    <tr>
    <td>STR</td>
    <td>MAG</td>
    <td>SKL</td>
    <td>SPD</td>
    <td>LCK</td>
    <td>DEF</td>
    <td>RES</td>
</tr>
<tr>
    <td>{{father.strB}}</td>
    <td>{{father.magB}}</td>
    <td>{{father.skillB}}</td>
    <td>{{father.spdB}}</td>
    <td>{{father.lckB}}</td>
    <td>{{father.defB}}</td>
    <td>{{father.resB}}</td>
</tr>
</table>
<h1>{{mother.name}}'s Stats</h1>
<p>Growth Rates</p>
<table border="1">
<tr>
    <td>HP</td>
    <td>STR</td>
    <td>MAG</td>
    <td>SKL</td>
    <td>SPD</td>
    <td>LCK</td>
    <td>DEF</td>
    <td>RES</td>
</tr>
<tr>
 <td>{{mother.hpG}}%</td>
    <td>{{mother.strG}}%</td>
    <td>{{mother.magG}}%</td>
    <td>{{mother.skillG}}%</td>
    <td>{{mother.spdG}}%</td>
    <td>{{mother.lckG}}%</td>
    <td>{{mother.defG}}%</td>
    <td>{{mother.resG}}%</td>
</tr>
</table>
<p>Max Stat Mods</p>
<table border="1">
    <tr>
    <td>STR</td>
    <td>MAG</td>
    <td>SKL</td>
    <td>SPD</td>
    <td>LCK</td>
    <td>DEF</td>
    <td>RES</td>
</tr>
<tr>
    <td>{{mother.strB}}</td>
    <td>{{mother.magB}}</td>
    <td>{{mother.skillB}}</td>
    <td>{{mother.spdB}}</td>
    <td>{{mother.lckB}}</td>
    <td>{{mother.defB}}</td>
    <td>{{mother.resB}}</td>
</tr>
</table>

<h1>Stats for {{father.name}}'s and {{mother.name}}'s kid</h1>
<p>Growth Rates</p>
<table border="1">
<tr>
    <td>HP</td>
    <td>STR</td>
    <td>MAG</td>
    <td>SKL</td>
    <td>SPD</td>
    <td>LCK</td>
    <td>DEF</td>
    <td>RES</td>
</tr>
<tr>
<td>{{ child.1 }}%</td>
<td>{{ child.2 }}%</td>
    <td>{{ child.3 }}%</td>
    <td>{{ child.4 }}%</td>
    <td>{{ child.5 }}%</td>
    <td>{{ child.6 }}%</td>
    <td>{{ child.7 }}%</td>
    <td>{{ child.8 }}%</td>
</tr>
</table>
<p>Max Stat Mods</p>
<table border="1">
<tr>
    <td>STR</td>
    <td>MAG</td>
    <td>SKL</td>
    <td>SPD</td>
    <td>LCK</td>
    <td>DEF</td>
    <td>RES</td>
</tr>
<tr>
<td>{{ child.9 }}</td>
    <td>{{ child.10 }}</td>
    <td>{{ child.11 }}</td>
    <td>{{ child.12 }}</td>
    <td>{{ child.13 }}</td>
    <td>{{ child.14 }}</td>
    <td>{{ child.15 }}</td>
</tr>
</table>



<p>
    <form action="/Adults">
        <input type="submit" class="styled-button-2" value="Create Another Child" />
    </form>
</p>
</body>
</html>