<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Great Britian Faction</title>
</head>
<body>
<h1>Great Britian</h1>
<h2>Units of Great Britian</h2>

<h3>Infantry</h3>

<h4>Regular:</h4>

<h5>Line Infantry</h5>

<h4>Special Regular:</h4>

<h5>Have limits</h5>

<h5>33rd Foot</h5>

<h5>Hessian Line Infantry</h5>

<h5>King's Royal Regiment of New York</h5>

<h4>Milita:</h4>

<h5>Conscript</h5>

<h5>Miltia</h5>

<h4>Elite:</h4>

<h5>Guards</h5>

<h5>Republican Guards</h5>

<h5>The Black Watch</h5>

<h5>Coldstream Guards</h5>

<h5>Light Infantry</h5>

<h5>Chasseurs Britanniques</h5>

<h5>Ferguson Riflemen</h5>

<h5>Green Jackets</h5>

<h4> Skirmishers: </h4>

<h5>Fraser's Rangers</h5>

<h5>Rangers</h5>

<h5>Rogers' Rangers</h5>

<h4>Melee Infantry:</h4>

<h5>Pikemen</h5>

<h4>Grenadiers:</h4>

<h5>Grenadiers</h5>

<h5>Hessian Grenadiers</h5>

<h5>Royal Welch Fusiliers</h5>

<h3>Calvary</h3>

<h4>Cavalry:</h4>

<h5>Regiment of Horse</h5>

<h5>Yeomanry</h5>

<h4>Dragoons:</h4>

<h5>Brunswicker Dragoons</h5>

<h5>Dragoons</h5>

<h5>Light Dragoons</h5>

<h5>Tarleton's Light Dragoons</h5>

<h4>Heavy Cavalry:</h4>

<h5>Heavy Cavalry</h5>

<h5>Horse Guards</h5>

<h5>Life Guards</h5>

<h4>Lancer Cavalry:</h4>

<h5>East India Company Lancers</h5>

<h4>General:</h4>

<h5>General's Bodyguard</h5>

<h3>Artillery</h3>

<h4>Fixed Artillery:</h4>

<h5>Demi-Cannons</h5>

<h5>4-inch Mortar Battery</h5>

<h5>Rocket Troop</h5>

<h5>Sakers</h5>

<h4>Foot Artillery:</h4>

<h5>12-lber Foot Artillery</h5>

<h5>24-lber Foot Artillery</h5>

<h5>12-lber Howitzer Foot Artillery</h5>

<h5>24-lber Howitzer Foot Artillery</h5>

<h5>Puckle Guns</h5>

<h4>Horse Artillery:</h4>

<h5>3-lber Horse Artillery</h5>

<h5>6-lber Horse Artillery</h5>

</body>
</html>